BASE_CHAIN_ID=8453
BASE_RPC_URL=https://base-rpc.publicnode.com
BASE_CONTRACT_ADDRESS=0x9d2f57159eca69265a9b9efaaa8bc2b6b2df364d
DATABASE_PATH=./data/ethra-harbor-indexer.sqlite
START_BLOCK=0
CONFIRMATIONS=2
CHUNK_SIZE=1000
BASE_BLOCK_TIME_MS=2000
FAST_POLL_MS=2000
SLOW_POLL_MS=50000
CRAWL_MODE=auto
RECONCILE_RPC_URLS=
LOG_LEVEL=info
